DB_USER=changeme
DB_PASS=changeme
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=booru-db

GELBOORU_API_KEY=GELBOORU_API_KEY
GELBOORU_USER_ID=GELBOORU_USER_ID
GELBOORU_RATE_LIMIT=1

SZURUBOORU_BASE_URL=https://booru.example.com/api
SZURUBOORU_USER_ID=SZURUBOORU_USER_ID
SZURUBOORU_API_TOKEN=SZURUBOORU_API_TOKEN
SZURUBOORU_RATE_LIMIT=1
CONCURRENT_UPLOADS=5